.input {
  margin-bottom: 4px;
  padding: 3px;
  text-align: center;
  border: none;
  background: none;
}

.amount {
  margin-bottom: 4px;
  text-align: center;
  border: none;
  background: none;
  padding-left: 15px;
}