.button {
  display: flex;
  float: right;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid black;
  cursor: pointer;
  margin-right: 80px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
};