.wrapper {
  left: 0;
  right: 0;
  width: 20vw;
  height: 35vh;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 20px 30px -15px rgba(#818181, 0.6);
  position: fixed;
};

.closeButton {
  width: 27px;
  height: 27px;
  background: none;
  border:  2px #0000 solid;
  position: absolute;
  right: 4px;
  top: -3px;
}
