.wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.image {
  margin-right: 80px;
  border-radius: 50%;
}

.name {
  font-size: 1em;
}

.amount {
  font-size: 0.8em;
}

.category {
  font-size: 0.8em;
}
